body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
main{
    padding: 1rem;
}

.form_container{
    display: flex;
    justify-content: center;
}
.form-control{
    margin: 5%;
}
.form-control input{
    display: block;
    padding: 10px;
}

.form-control label{
    font-size: 40px;
    width: 50%;
}

.form-control input{
    border:2px solid black;
    font:inherit;
    border-radius: 5px;
    width: 60vw;
}
.sub-btn{
    margin:0.5rem 5%;
    padding: 0.4rem;
    font-size: 10px;
    font:inherit;
    border:2px solid chartreuse;
    border-radius: 10px;
    background-color: black;
    color:white;
    cursor: pointer;
}

product-form{
    margin:auto;
    width: 30rem;
    max-width: 100%;
}

button:hover,
button:active{
    background-color: white;
    color: chartreuse;
}
