<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>

    <!-- For linking the css we need to pass the path to the css such that we are inside the css folder since we grant access to that folder through express. The request for the middleware is handled by the static middleware and it forwards the request to the public folder. -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_item-list">
                <li class="main-header_item"><a class="active" href="/">Shop</a></li>
                <li class="main-header_item"><a href="/admin/add-product">Add product</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>My products</h1>
        <p>List of all the products.....</p>
    </main>
</body>
</html>