extends layouts/main-layout.pug 

block styles 
    link(rel="stylesheet", href="/css/product.css")

block content 
    main
        div.form_container
            form.product-form(action="/admin/product", method="post")  
                div.form-control
                    label(for="title") Title
                    input(type="text" name="title")#title
                div.form-control
                    label(for="price") Price
                    input(type="number" name="price")#price
                div.form-control
                    label(for="description") Description
                    input(type="text" name="description")#description
                div.form-control
                    label(for="image") Image-Link
                    input(type="text" name="image")#image
                button(type="submit") Add product